<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
        <nav th:replace="~{layout/layout :: nav}"></nav>
        <aside th:replace="~{layout/layout :: aside}"></aside>
        <div class="content-wrapper">
            <header th:replace="~{layout/layout :: header}"></header>
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-primary card-outline">
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
    <div th:replace="~{layout/layout :: scripts}"></div>
</body>
</html>