<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
        <nav th:replace="~{layout/layout :: navbar}"></nav>
        <aside th:replace="~{layout/layout :: aside}"></aside>
        <div class="content-wrapper">
            <header th:replace="~{layout/layout :: header}"></header>
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-primary card-outline">
                        <!-- Esto es una prueba para saber si sí está llamando a la BD-->
                        <span th:if="${empresa == null}" th:text="''"></span>
                        <span th:if="${empresa != null}" th:text="${empresa.nombre}"></span>
                        <!-- Este texto sale si el usuario manda el id de una empresa que no exista-->
                        <span th:text="${error_empresa_no_existe}"></span>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="~{layout/layout :: footer}"></footer>
    </div>
    <div th:replace="~{layout/layout :: scripts}"></div>
</body>
</html>